<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="com.example.workspace.GuideActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity android:name="com.example.workspace.LauncherSelectActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.TransparentDialog"/>

        <activity android:name="com.example.workspace.NegativeGuideActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.TransparentDialog"/>

        <activity android:name="com.example.workspace.SettingActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest>
