<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 闪光灯权限 -->
    <uses-permission android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application>
        <activity android:name="com.example.workspace.GuideActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity android:name="com.example.workspace.LauncherSelectActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.TransparentDialog"/>

        <activity android:name="com.example.workspace.NegativeGuideActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.TransparentDialog"/>

        <activity android:name="com.example.setting.AboutUsActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name="com.example.setting.QAActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name="com.example.setting.QADetailActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name="com.example.setting.BrowseActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".ScreenLightActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".MarqueeOptionsActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".MarqueeTextActivity"
            android:screenOrientation="landscape"
            android:exported="false"
            android:theme="@style/MarqueeTheme"/>

        <activity android:name="com.example.setting.SettingActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:label="Setting2"
            android:icon="@mipmap/ic_setting_activity_launcher"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.negative_screen.NegativeScreenService"
            android:exported="true"
            android:enabled="true"
            android:label="Negative Screen (Internal)">
            <intent-filter>
                <action android:name="com.android.launcher3.WINDOW_OVERLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <!-- 规则 2：显式匹配 app:// 协议 -->
                <action android:name="com.android.launcher3.WINDOW_OVERLAY" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="app" />
            </intent-filter>
            <meta-data android:name="service.api.version" android:value="9" />
        </service>

        <provider
            android:name="com.example.NgInitializer"
            android:authorities="${applicationId}.em-init-provider"
            android:exported="false" />
    </application>
</manifest>
