<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="com.example.workspace.GuideActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity android:name="com.example.workspace.LauncherSelectActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.TransparentDialog"/>
    </application>
</manifest>
